body {
  background-color: #add8e6;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.form-container {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}
/* Aplica apenas à página que tem id="home-body" */
#home-body {
  background-color: #add8e6;
  margin: 0;
  padding-top: 70px; /* para compensar a navbar fixa */
}

/* Centraliza o conteúdo dentro da página home */
#home-body .main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 70px); /* altura total - altura da navbar */
  flex-direction: column;
  text-align: center;
}
