body {
  background-color: #0d5d78;
  background-image: url("http://localhost/TCC_PAPINHO/assets/imagens/fundo2.png");
  background-repeat: no-repeat; /* ← Impede que ela se repita */
  background-position: center top; /* Centraliza no topo (ou só 'center') */
  background-size: 100% auto;
  background-size: cover; /* Preenche todo o espaço disponível */
  background-position: center; /* Centraliza a imagem */

  height: 100vh;
  margin: 0;
  max-width: 100%;
  max-height: 10%;
}
.cadastro_body {
  background-image: url("http://localhost/TCC_PAPINHO/assets/imagens/BackGround_BrancoEAzulQuebra.png");
}
.form-container {
  background: rgb(243, 249, 249);
  padding: 20px;
  margin-top: 250px; /* espaço do topo */
  margin-left: 590px; /* espaço do canto esquerdo */
  align-items: center;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

/* Título centralizado */
.titulo {
  text-align: center;
  margin-top: 20px;
  font-size: 24px;
}

.form-container1 {
  background: rgb(243, 249, 249);
  padding: 20px;
  margin-top: 250px; /* espaço do topo */
  margin-left: 460px; /* espaço do canto esquerdo */
  align-items: center;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

.form-container2 {
  background: rgb(243, 249, 249);
  padding: 20px;
  margin-top: 100px; /* espaço do topo */
  margin-left: 470px; /* espaço do canto esquerdo */
  align-items: center;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

#home-body {
  background-color: #0c1214;
  margin: 0;
  padding-top: 70px;
}

#home-body .main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 70px);
  flex-direction: column;
  text-align: center;
}

.categoria {
  width: 150px;
  height: 150px;
  margin: 10px;
  cursor: pointer;
  border: 2px solid #ccc;
  border-radius: 15px;
  object-fit: cover;
  transition: transform 0.2s;
}

.categoria:hover {
  transform: scale(1.05);
}

.navbar-expand-lg {
  max-width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}
