/* Estilo das imagens de categoria */
.categoria {
  width: 150px;
  height: 150px;
  margin: 10px;
  cursor: pointer;
  border: 2px solid #ccc;
  border-radius: 15px;
  object-fit: cover; /* Garante que a imagem preencha o quadrado sem distorcer */
  transition: transform 0.2s; /* Suaviza o efeito de zoom no hover */
}

/* Efeito de zoom ao passar o mouse */
.categoria:hover {
  transform: scale(1.05);
}

/* Layout de grade para as imagens */
.grid-categorias {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
}

/* Título centralizado */
.titulo {
  text-align: center;
  margin-top: 20px;
  font-size: 24px;
}
.submenu-img {
  width: 100px; /* ou qualquer tamanho que você achar melhor */
  height: 100px;
  margin: 30px;
  object-fit: cover;
  margin: 30px 30px 30px 50px; /* top, right, bottom, left */
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.2s;
  justify-content: center; /* centraliza as imagens dentro do submenu */
}

.submenu-img:hover {
  transform: scale(1.05);
}

.select-crianca-pequeno {
  width: 100px;
  display: inline-block;
}
